*{
    margin: 0;
}

.input{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 1fr;
}

.table_create{
    margin: 0 auto;
    grid-column: 1/5;
}